{% extends "base-auth.html" %}

<!-- Head -->
{% block title %} Sign Up | GRADA {% endblock title %}

<!-- Body -->
{% block content %}
<form method="post" class="form d-flex flex-column">
    <header class="text-center mb-2 position-relative">
        <h3 class="fw-bold mb-2 h3">Sign up</h3>
        <p class="text-secondary">Welcome! Please fill the form to create your account</p>
    </header>
    <div class="mb-3">
        <label for="role" class="form-label">Account Type</label>
        <select class="form-select" aria-label="Default select example" name="role" required>
            <option value="coordinator">Coordinator</option>
            <option value="professor">Professor</option>
        </select>
    </div>
    <div class="d-flex justify-content-between">
        <div class="mb-3 me-2">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="emailHelp" />
        </div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="password1Help" />
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" aria-describedby="password1Help" />
    </div>
    <div class="mb-3 form-check d-flex align-items-center">
        <input type="checkbox" class="form-check-input me-2" id="exampleCheck1" required />
        <label class="form-check-label" for="exampleCheck1">I accept the Terms of Use & Privacy Policy</label>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Sign up</button>
    <p class="text-secondary text-center">
        Already have an account?
        <a href="{{ url_for('auth.login') }}" class="text-decoration-none fw-medium">Log in</a>
    </p>
</form>
{% endblock content %}